@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Helvetica, sans-serif;
}

@layer base {
  :root {
    --base-1: 150.00000000000043 33.33333333333365% 98.82352941176471%;
    --base-2: 150 14.285714285714256% 97.25490196078431%;
    --base-3: 160 9.677419354838674% 93.92156862745098%;
    --base-4: 160 6.382978723404229% 90.7843137254902%;
    --base-5: 140 4.918032786885227% 88.0392156862745%;
    --base-6: 160 3.8961038961038836% 84.90196078431373%;
    --base-7: 150.00000000000023 4.000000000000013% 80.3921568627451%;
    --base-8: 149.99999999999977 2.898550724637692% 72.94117647058825%;
    --base-9: 157.49999999999986 3.418803418803419% 54.117647058823536%;
    --base-10: 157.4999999999999 3.149606299212604% 50.19607843137255%;
    --base-11: 160.00000000000006 3.0612244897959147% 38.431372549019606%;
    --base-12: 154.28571428571428 11.864406779661023% 11.568627450980392%;
    --accent-1: 160.00000000000017 60.00000000000023% 99.01960784313727%;
    --accent-2: 145.7142857142857 46.66666666666658% 97.05882352941177%;
    --accent-3: 144.7058823529412 51.51515151515156% 93.52941176470588%;
    --accent-4: 148.88888888888886 49.090909090909065% 89.21568627450979%;
    --accent-5: 151.57894736842107 46.34146341463413% 83.92156862745097%;
    --accent-6: 153.59999999999997 43.103448275862064% 77.25490196078432%;
    --accent-7: 158.50746268656715 40.60606060606061% 67.64705882352942%;
    --accent-8: 163.8 42.01680672268907% 53.333333333333336%;
    --accent-9: 164.26229508196718 59.80392156862745% 40%;
    --accent-10: 164.34782608695653 60.209424083769626% 37.450980392156865%;
    --accent-11: 163.63636363636365 60.7361963190184% 31.960784313725487%;
    --accent-12: 160.00000000000003 34.09090909090909% 17.254901960784313%;
    --background: 150.00000000000043 33.33333333333365% 98.82352941176471%;
    --foreground: 154.28571428571428 11.864406779661023% 11.568627450980392%;
    --card: 150 14.285714285714256% 97.25490196078431%;
    --card-foreground: 154.28571428571428 11.864406779661023%
      11.568627450980392%;
    --popover: 150.00000000000043 33.33333333333365% 98.82352941176471%;
    --popover-foreground: 154.28571428571428 11.864406779661023%
      11.568627450980392%;
    --primary: 164.34782608695653 60.209424083769626% 37.450980392156865%;
    --primary-foreground: 0 0% 100%;
    --secondary: 150 14.285714285714256% 97.25490196078431%;
    --secondary-foreground: 160.00000000000006 3.0612244897959147%
      38.431372549019606%;
    --muted: 150 14.285714285714256% 97.25490196078431%;
    --muted-foreground: 160.00000000000006 3.0612244897959147%
      38.431372549019606%;
    --accent: 164.34782608695653 60.209424083769626% 37.450980392156865%;
    --accent-foreground: 0 0% 100%;
    --destructive: 358.4810126582278 69.2982456140351% 55.294117647058826%;
    --destructive-foreground: 350.64935064935065 62.601626016260155%
      24.11764705882353%;
    --border: 160 3.8961038961038836% 84.90196078431373%;
    --input: 160 3.8961038961038836% 84.90196078431373%;
    --ring: 160 3.8961038961038836% 84.90196078431373%;
    --radius: 0.5rem;
  }
  .dark {
    --base-1: 150 5.88235294117647% 6.666666666666667%;
    --base-2: 150 4.166666666666666% 9.411764705882353%;
    --base-3: 150.0000000000001 3.0303030303030307% 12.941176470588234%;
    --base-4: 160.00000000000006 3.7037037037036993% 15.88235294117647%;
    --base-5: 159.99999999999997 3.157894736842109% 18.627450980392158%;
    --base-6: 150 3.508771929824561% 22.35294117647059%;
    --base-7: 156.00000000000006 3.5460992907801394% 27.647058823529413%;
    --base-8: 154.28571428571428 3.7037037037037055% 37.05882352941177%;
    --base-9: 156.92307692307693 6.161137440758292% 41.37254901960784%;
    --base-10: 160 5.042016806722689% 46.666666666666664%;
    --base-11: 157.49999999999986 5.1282051282051295% 69.41176470588235%;
    --base-12: 150 5.555555555555538% 92.94117647058823%;
    --accent-1: 157.5 23.52941176470588% 6.666666666666667%;
    --accent-2: 156 21.73913043478261% 9.019607843137255%;
    --accent-3: 156.7741935483871 50.81967213114754% 11.960784313725489%;
    --accent-4: 161.25 68.57142857142856% 13.725490196078432%;
    --accent-5: 161.45454545454547 61.79775280898877% 17.45098039215686%;
    --accent-6: 161.99999999999997 52.63157894736842% 22.35294117647059%;
    --accent-7: 162.3529411764706 48.57142857142856% 27.450980392156865%;
    --accent-8: 164.28571428571428 50.000000000000014% 32.94117647058823%;
    --accent-9: 164.26229508196718 59.80392156862745% 40%;
    --accent-10: 163.79562043795622 63.72093023255814% 42.15686274509804%;
    --accent-11: 163.13513513513516 74.89878542510121% 48.431372549019606%;
    --accent-12: 154.92537313432837 69.07216494845359% 80.98039215686275%;
    --background: 150 5.88235294117647% 6.666666666666667%;
    --foreground: 150 5.555555555555538% 92.94117647058823%;
    --card: 150 4.166666666666666% 9.411764705882353%;
    --card-foreground: 150 5.555555555555538% 92.94117647058823%;
    --popover: 150 5.88235294117647% 6.666666666666667%;
    --popover-foreground: 150 5.555555555555538% 92.94117647058823%;
    --primary: 163.79562043795622 63.72093023255814% 42.15686274509804%;
    --primary-foreground: 0 0% 100%;
    --secondary: 150 4.166666666666666% 9.411764705882353%;
    --secondary-foreground: 157.49999999999986 5.1282051282051295%
      69.41176470588235%;
    --muted: 150 4.166666666666666% 9.411764705882353%;
    --muted-foreground: 157.49999999999986 5.1282051282051295%
      69.41176470588235%;
    --accent: 163.79562043795622 63.72093023255814% 42.15686274509804%;
    --accent-foreground: 0 0% 100%;
    --destructive: 359.58041958041963 79.00552486187846% 64.50980392156863%;
    --destructive-foreground: 349.5652173913044 100% 90.98039215686275%;
    --border: 150 3.508771929824561% 22.35294117647059%;
    --input: 150 3.508771929824561% 22.35294117647059%;
    --ring: 150 3.508771929824561% 22.35294117647059%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
