@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, sans-serif;
}

@layer base {
  :root {
    --base-1: 240 20% 99.01960784313727%;
    --base-2: 240 19.999999999999943% 98.0392156862745%;
    --base-3: 240 11.111111111111065% 94.70588235294117%;
    --base-4: 240 9.52380952380956% 91.76470588235294%;
    --base-5: 230.00000000000003 10.714285714285722% 89.01960784313725%;
    --base-6: 240 10.144927536231888% 86.47058823529412%;
    --base-7: 233.33333333333337 9.89010989010989% 82.15686274509804%;
    --base-8: 230.7692307692308 10.23622047244095% 75.09803921568627%;
    --base-9: 230.76923076923066 5.936073059360735% 57.05882352941176%;
    --base-10: 226.1538461538462 5.394190871369299% 52.74509803921569%;
    --base-11: 220 5.88235294117647% 40%;
    --base-12: 210 12.5% 12.549019607843137%;
    --accent-1: 160.00000000000017 60.00000000000023% 99.01960784313727%;
    --accent-2: 145.7142857142857 46.66666666666658% 97.05882352941177%;
    --accent-3: 144.7058823529412 51.51515151515156% 93.52941176470588%;
    --accent-4: 148.88888888888886 49.090909090909065% 89.21568627450979%;
    --accent-5: 151.57894736842107 46.34146341463413% 83.92156862745097%;
    --accent-6: 153.59999999999997 43.103448275862064% 77.25490196078432%;
    --accent-7: 158.50746268656715 40.60606060606061% 67.64705882352942%;
    --accent-8: 163.8 42.01680672268907% 53.333333333333336%;
    --accent-9: 164.26229508196718 59.80392156862745% 40%;
    --accent-10: 164.34782608695653 60.209424083769626% 37.450980392156865%;
    --accent-11: 163.63636363636365 60.7361963190184% 31.960784313725487%;
    --accent-12: 160.00000000000003 34.09090909090909% 17.254901960784313%;
    --background: 240 20% 99.01960784313727%;
    --foreground: 210 12.5% 12.549019607843137%;
    --card: 240 19.999999999999943% 98.0392156862745%;
    --card-foreground: 210 12.5% 12.549019607843137%;
    --popover: 240 20% 99.01960784313727%;
    --popover-foreground: 210 12.5% 12.549019607843137%;
    --primary: 164.34782608695653 60.209424083769626% 37.450980392156865%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 19.999999999999943% 98.0392156862745%;
    --secondary-foreground: 220 5.88235294117647% 40%;
    --muted: 240 19.999999999999943% 98.0392156862745%;
    --muted-foreground: 220 5.88235294117647% 40%;
    --accent: 164.34782608695653 60.209424083769626% 37.450980392156865%;
    --accent-foreground: 0 0% 100%;
    --destructive: 358.4810126582278 69.2982456140351% 55.294117647058826%;
    --destructive-foreground: 350.64935064935065 62.601626016260155%
      24.11764705882353%;
    --border: 240 10.144927536231888% 86.47058823529412%;
    --input: 240 10.144927536231888% 86.47058823529412%;
    --ring: 240 10.144927536231888% 86.47058823529412%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --base-1: 240 5.555555555555555% 7.0588235294117645%;
    --base-2: 220 5.88235294117647% 10%;
    --base-3: 225.00000000000006 5.7142857142857135% 13.725490196078432%;
    --base-4: 210.00000000000003 7.1428571428571415% 16.47058823529412%;
    --base-5: 214.28571428571428 7.0707070707070745% 19.411764705882355%;
    --base-6: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --base-7: 212.72727272727275 7.586206896551727% 28.431372549019606%;
    --base-8: 212.00000000000003 7.692307692307687% 38.23529411764706%;
    --base-9: 218.57142857142856 6.250000000000003% 43.92156862745098%;
    --base-10: 221.53846153846155 5.1792828685259% 49.21568627450981%;
    --base-11: 215.9999999999999 6.756756756756753% 70.98039215686273%;
    --base-12: 220 9.09090909090906% 93.52941176470588%;
    --accent-1: 157.5 23.52941176470588% 6.666666666666667%;
    --accent-2: 156 21.73913043478261% 9.019607843137255%;
    --accent-3: 156.7741935483871 50.81967213114754% 11.960784313725489%;
    --accent-4: 161.25 68.57142857142856% 13.725490196078432%;
    --accent-5: 161.45454545454547 61.79775280898877% 17.45098039215686%;
    --accent-6: 161.99999999999997 52.63157894736842% 22.35294117647059%;
    --accent-7: 162.3529411764706 48.57142857142856% 27.450980392156865%;
    --accent-8: 164.28571428571428 50.000000000000014% 32.94117647058823%;
    --accent-9: 164.26229508196718 59.80392156862745% 40%;
    --accent-10: 163.79562043795622 63.72093023255814% 42.15686274509804%;
    --accent-11: 163.13513513513516 74.89878542510121% 48.431372549019606%;
    --accent-12: 154.92537313432837 69.07216494845359% 80.98039215686275%;
    --background: 240 5.555555555555555% 7.0588235294117645%;
    --foreground: 220 9.09090909090906% 93.52941176470588%;
    --card: 220 5.88235294117647% 10%;
    --card-foreground: 220 9.09090909090906% 93.52941176470588%;
    --popover: 240 5.555555555555555% 7.0588235294117645%;
    --popover-foreground: 220 9.09090909090906% 93.52941176470588%;
    --primary: 163.79562043795622 63.72093023255814% 42.15686274509804%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 5.88235294117647% 10%;
    --secondary-foreground: 215.9999999999999 6.756756756756753%
      70.98039215686273%;
    --muted: 220 5.88235294117647% 10%;
    --muted-foreground: 215.9999999999999 6.756756756756753% 70.98039215686273%;
    --accent: 163.79562043795622 63.72093023255814% 42.15686274509804%;
    --accent-foreground: 0 0% 100%;
    --destructive: 359.58041958041963 79.00552486187846% 64.50980392156863%;
    --destructive-foreground: 349.5652173913044 100% 90.98039215686275%;
    --border: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --input: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --ring: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
